<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    {% if titulo %}
    <title>{{ titulo }}</title>
    {% else %}
    <title>Welcome To My Tutorials</title>
    {% endif %}
</head>

<body>
    {% block menu %}
    
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">My Tutorials</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('index') }}" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Nossos Turtorias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('page_pandas') }}">Guia Pandas</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('page_selenium') }}">Guia de Selenium</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('page_sqlalchemy') }}">Guia de Selenium</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('page_contato') }}">Fale com Conosco</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% endblock menu %}

    {% block content %}
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% endblock content %}
</body>

</html>